*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body{
  display: grid;
  place-items: center;
  background: url(https://wallpapercave.com/wp/wp2343137.jpg);
}
h1{
  color: #424242;
  margin: 0 20px 30px 20px;
}
.calculator{
  text-align: center;
}
.calculator >.container{
  width: 333px;
  height: 70vh;
  margin: auto;
  background: url(https://wallpapercave.com/wp/wp2343137.jpg);
  padding: 30px;
  -webkit-box-shadow: 0 0 5px #424242;
  box-shadow: 0 0 5px #424242;
  border: none;
  border-radius: 3px;
  display: grid;
  place-items: center;
}
.display{
  padding-bottom: 10px;
}
.col-1{
  width :21%;
  float:left;
  margin: 0  2%;
}
.col-2{
  width:46%;
  float: left;
  margin:0 2%;
}
.col-3{
  width: 71%;
  float: left;
  margin: 0 2%;
}
button{
  width: 100%;
  margin: 5px;
  padding: 5px;
  font-size: 24px;
  font-weight: 580;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #131313;
  background: #babdc6;
  box-shadow:   -1px -1px 2px white,
    1px 1px 8px #131313;
  cursor: pointer;
  outline: none;
  opacity: 0.6;
}
button:focus{
  transform: scale(0.97);
  box-shadow: inset 1px 1px 8px black,
              inset -1px -1px 20px white;
}
input{
  width: 100%;
  text-align: end;
  height: 50px;
  background: #babdc6;
  border: none;
  box-shadow: inset 1px 1px 4px #636363,
              inset -1px -1px 4px white;
  border-radius: 3px;
  font-size: 24px;
  padding: 0 10px;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #424242;
}

@media only screen and (orientation : portrait){
  .calculator >.container{
      width: 260px;
      height: 70vh;
    }
}